@import url(https://db.onlinewebfonts.com/c/b86a36b86f07f668b7ba6b2825d1b093?family=Recta-Bold);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    height: 95%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:transparent;
    border-radius: 30px;
}
#pika{
    position: absolute;
    height: 70%;
    left: 46%;
}

#inner1{
    width: 60%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fbc50b;
    display: flex;
    flex-direction: row;
    

}

#inner2{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(251, 232, 181);
}

#logo{
    position: absolute;
    left: 5%;
    top: 7%;
}
#content{
    position: absolute;
    top: 30%;
    left: 10%;
    display: flex;
    font-size: 100px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
#content h1{
    font-family: sans-serif;
    font-weight: 200px;
}
#content h6{
    font-family: "Recta-Bold";
    font-size: 30px;
    letter-spacing: 10px;
    font-weight: 200px;
}

#ball{
    top: 79.5%;
    left: 3%;
}
p{
    font-size: 30px;
    width: 35%;
    font-family: 'Poppins', sans-serif;
    line-height: 50px;
    
}
#date{
    font-weight: 700;
} 
#inner2 .ri-menu-fill{
    font-size: 60px;
    position: absolute;
    right: 5%;
    top: 7%;
}

#circles{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #fbc50b;

    font-size: 30px;
    position: absolute;
    right: 6%;
    top: 45%;
}

#black_circle{
    color:black;
    font-size: 40px;
}